.flexchild-vertical {
  @apply(--layout-flex);

}

.flexchild-horizontal {
  @apply(--layout-flex);
  @apply(--layout-horizontal);
}

.flex-vertical {
  @apply(--layout-vertical);
  @apply(--layout-end);
  align-items: center;

}


#img {
  margin-top: 20px;
  margin-left: 20px;
  height: 214px;
  width: 300px;
  border-radius: 50%;
}

#photo {
  height: 200px;
  width: 201px;
  margin-top: 20px;
  border-radius: 50%;
}

h1 {
  margin-top: 10px;
}

paper-card.rate {
  width: 300px;
  height: 110px;
  margin-top: 15px;
}

.btns {
  margin-top: 20px;
}

.progress {
  --paper-progress-height: 10px;
  --paper-progress-transition-duration: 0.08s;
  --paper-progress-transition-timing-function: ease;
  --paper-progress-transition-transition-delay: 0s;
}

paper-progress {
  margin: 0 auto;
  margin-top: 10px;
}

.rate{
  text-align: center;
  align-content: center;
}
.rate-content {
  @apply(--layout-flex);
  float: left;
  text-align: center;
}

.rate-header { @apply(--paper-font-headline); }

