<app-drawer align="end" style="z-index: 999;" #map>
  <app-toolbar></app-toolbar>
  <paper-menu>
   <paper-icon-item>
    <iron-icon icon="extension" item-icon></iron-icon>
    Quiz
  </paper-icon-item>
  <paper-icon-item>
    <iron-icon icon="favorite-border" item-icon></iron-icon>
    Feed</paper-icon-item>
    <paper-icon-item>
      <iron-icon icon="face" item-icon></iron-icon>
      Perfil</paper-icon-item>
    </paper-menu>
  </app-drawer>


    <div class="container flex-vertical">

      <div class="flexchild-vertical">

        <div style="margin:0 auto; position:relative; text-align: center;">
          <div style="margin:0 auto; width:100%;">

            <div main-title>
              <img id="photo" src="{{imgPerfil}}">
              <h1>{{nome}}</h1>

            </div>

          </div>
        </div>
        <!--<paper-icon-button icon="menu" (click)='map.toggle()'></paper-icon-button>-->
      </div>
    </div>



  <div class="container flex-vertical">

    <div class="flexchild-vertical">

      <div style="margin:0 auto; position:relative; text-align: center;">
        <div style="margin:0 auto; width:100%;">
          <paper-card class="rate">
            <div class="rate-content">
              <div class="card-content">
                <p class="rate-header">Educação</p>
                <paper-progress value="{{valorEducacao}}" class="progress"></paper-progress>
              </div>
            </div>
          </paper-card>

          <paper-card class="rate">
            <div class="rate-content">
              <div class="card-content">
                <p class="rate-header">Combate a fome</p>
                <paper-progress value="{{valorFome}}" class="progress"></paper-progress>
              </div>
            </div>
          </paper-card>

          <paper-card class="rate">
            <div class="rate-content">
              <div class="card-content">
                <p class="rate-header">Assistência Social</p>
                <paper-progress value="{{valorAssistencia}}" class="progress"></paper-progress>
              </div>
            </div>
          </paper-card>

          <paper-card class="rate">
            <div class="rate-content">
              <div class="card-content">
                <p class="rate-header">Moradia</p>
                <paper-progress value="{{valorMoradia}}" class="progress"></paper-progress>
              </div>
            </div>
          </paper-card>

          <paper-card class="rate">
            <div class="rate-content">
              <div class="card-content">
                <p class="rate-header">Meio ambiente</p>
                <paper-progress value="{{valorAmbiente}}" class="progress"></paper-progress>
              </div>
            </div>
          </paper-card>

          <paper-card class="rate">
            <div class="rate-content">
              <div class="card-content">
                <p class="rate-header">Saúde</p>
                <p></p>
                <paper-progress value="{{valorSaude}}" class="progress"></paper-progress>
              </div>
            </div>
          </paper-card>

          <paper-card class="rate">
            <div class="rate-content">
              <div class="card-content">
                <p class="rate-header">Cultura</p>
                <p></p>
                <paper-progress value="{{valorCultura}}" class="progress"></paper-progress>
              </div>
            </div>

          </paper-card>
          <paper-card class="rate">
            <div class="rate-content">
              <div class="card-content">
                <p class="rate-header">Esporte e Lazer</p>
                <p></p>
                <paper-progress value="{{valorEsporte}}" class="progress"></paper-progress>
              </div>
            </div>

          </paper-card>
        </div>
        <div class="btns">
        <share-buttons></share-buttons>

        <a href="https://goo.gl/forms/kkY7bzfl13oenOM23">
          <paper-button style="text-color">Questionário</paper-button>
        </a>
        </div>
      </div>

      <paper-dialog id="modal" modal #modal>
        <share-buttons></share-buttons>
        <div class="buttons">
          <paper-button dialog-confirm autofocus>Cancelar</paper-button>
        </div>
      </paper-dialog>


    </div>
  </div>