.flex-center-justified {
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
}
.flex-vertical {
  @apply(--layout-vertical);
  @apply(--layout-end);
}
.flexchild-vertical {
  @apply(--layout-flex);
}

img {
  margin-top: 10px;
}


h2 {
  max-width: 500px;
  text-align: center;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
  font-weight: 100;
  font-size: 40px;
}

iron-pages {
  width: 100%;
  font-size: 50px;
  text-align: center;
}
div {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

iron-pages div:nth-child(1) {
  background-color: transparent;
}
iron-pages div:nth-child(2) {
  background-color: transparent;
}
iron-pages div:nth-child(3) {
  background-color: transparent;
}

img {
  cursor: pointer;
}

h2 {
  max-width: 500px;
  text-align: center;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
  font-weight: 100;
  font-size: 40px;
}



