<app-drawer align="end" style="z-index: 999;" #map>
  <app-toolbar></app-toolbar>
  <paper-menu>
   <paper-icon-item>
    <iron-icon icon="extension" item-icon></iron-icon>
    Quiz
  </paper-icon-item>
  <paper-icon-item>
    <iron-icon icon="favorite-border" item-icon></iron-icon>
    Feed</paper-icon-item>
    <paper-icon-item>
      <iron-icon icon="face" item-icon></iron-icon>
      Perfil</paper-icon-item>
    </paper-menu>
  </app-drawer>

  <app-header-layout>
    <app-header fixed effects="waterfall">
      <app-toolbar>
        <iron-icon icon="favorite" item-icon></iron-icon>
        <div main-title>_SoulSolidario</div>
        <paper-button>Sobre</paper-button>
        <paper-button>Cadastre-se</paper-button>
        <paper-icon-button icon="menu" (click)='map.toggle()'></paper-icon-button>
      </app-toolbar>
    </app-header>
  </app-header-layout>
<app-sobre></app-sobre>







