  <app-header-layout>
    <app-header fixed effects="waterfall">
      <app-toolbar>
        <div main-title >

          <iron-icon icon="favorite" item-icon></iron-icon>
          _SoulSolidario</div>
          <!--<paper-icon-button icon="menu" (click)='map.toggle()'></paper-icon-button>

          <paper-button>Cadastre-se</paper-button>
          -->
        </app-toolbar>
      </app-header>
    </app-header-layout>
    <router-outlet></router-outlet>

    <!--<app-box threshold="64">
      <ul role="navigation" class="nav">
        <li><a href="#fazemos">Fazemos</a></li>
        <li><a href="#quiz">Quiz</a></li>
        <li><a href="#feed">Feed</a></li>
      </ul>
    </app-box>-->











