app-toolbar {
  background: var(--primary-color);
  color: var(--dark-theme-text-color);
}

app-drawer {
  --app-drawer-content-container: {
    box-shadow: 1px 0 2px 1px rgba(0,0,0,0.18);
  }
  --app-drawer-scrim-background: rgba(179, 157, 219, 0.5);
}

app-header-layout {
  width: 100%;
}