<div class="container flex-vertical">
  <div class="flexchild-vertical">


    <div style="margin:0 auto; width:400px;">
      <h4 style="text-align:center;">Cadastre seu e-mai</h4>

      <form [formGroup]="preCadastroForm" (ngSubmit)="salvar(preCadastroForm)" novalidate>

        <paper-input label="E-mail" type="email" formControlName="email" style="margin-left:14px; margin-right: 14px;"></paper-input>
        <small *ngIf="!preCadastroForm.controls.email.valid" class="error-input">
        Email invalido.
        </small>
        <paper-input label="Password" type="password" formControlName="senha" style="margin-left:14px; margin-right: 14px;"></paper-input>
        <paper-button (click)="salvar(preCadastroForm)" [disabled]="!preCadastroForm.controls.email.valid" style="background-color: red; color:white; margin-top: 20px; width:100%;">Criar Perfil</paper-button>
      </form>


    </div>
  </div>
</div>